body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: PaleTurquoise;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/imagem3.jpg);
    background-attachment:local;
     background-repeat: no-repeat;
     background-size: cover;
 
}

.login-container {
    background-image: linear-gradient(to right, #AFEEEE, #E0FFFF);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: SaddleBrown;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: SaddleBrown;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #6A3310;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: SaddleBrown;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
